/* Main Container */
.main-div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

/* Left Side (Category) */
.left-side {
    width: 25%;
    border: 1px solid #cfcdcd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
}

.left-side h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 23px;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.category-list li.active {
    font-weight: bold;
}

.category-list li i {
    margin-right: 10px;
    font-size: 23px;
}

/* MIDDLE SECTION */
.middle {
    width: 71%;
    border: 1px solid #cac9c9;
    padding: 30px 25px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.provider-search-bar {
    margin-bottom: 30px;
    display: flex;
    width: 50%;
}

.provider-search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    height: 50px;
}

.provider-search-bar button {
    background-color: white;
    /* color: #fff; */
    border: none;
    cursor: pointer;
}

.heading {
    margin-bottom: 30px;
    padding: 15px;
}

.heading h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.heading p {
    font-size: 18px;
    color: #666;
}

.profile-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    color: #f8b600;
    margin-bottom: 15px;
}

.rating i {
    font-size: 18px;
}

.card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.card img {
    width: 100px;
    height: 100px;
}

.btn-primary a {
    text-decoration: none;
    margin-top: 35px;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
}

.btn-primary a:hover {
    background-color: #0056b3;
}

/* View More Button */
.view-more {
    text-align: center;
    margin-top: 50px;
}

.view-more button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.view-more button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 992px) {
    .main-div {
        flex-direction: column;
    }

    .left-side,
    .middle {
        width: 100%;
        margin-bottom: 50px;
    }

    .provider-search-bar {
        width: 100%;
    }
}
