/* DASHBOARD STYLING */
.dashboard-container {
    display: flex;
    margin-top: 25px;
    /* box-shadow: 2px 2px 10px rgb(214, 214, 214); */
    border-radius: 10px;
    padding: 20px;
}

.left-sidebar {
    width: 25%;
    background-color: #ffffff;
    border-right: 1px solid #848383;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(214, 214, 214);

}

.profile-section {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    height: 150px;
}

.profile-pic {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    border: 5px solid black;
}

.profile-info {
    margin-left: 80px;
}

.profile-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-info p {
    color: #666;
    margin-bottom: 10px;
}

/* NAV_LINK */
.navigation-links {
    padding: 20px;
}

/* NAVIGATIONS */
.link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.link i {
    margin-right: 15px;
    font-size: 25px;
    width: 30px;
    text-align: center;
}

.link a {
    color: #333;
    text-decoration: none;
}

.link:hover a {
    font-weight: 600;
    transition: ease-in .1s;
}

/* RIGHT_SIDE */
.main-content {
    flex: 1;
    margin-left: 20px;
    padding: 20px;
    padding-left: 35px;
    background-color: #ffffff;
    border-right: 1px solid #848383;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 2px 2px 10px rgb(214, 214, 214);
}


.page-info {
    margin-bottom: 20px;
    font-family: rakkas;
}

.page-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section {
    display: flex;
    padding-left: 15px;

    /* flex-wrap: nowrap; */
}

.info-item {
    flex-basis: 33.33%;
    display: flex;
    /* border: 1px solid rgb(228, 227, 227); */
}

.info-icon{
    margin-top: 15px;
    /* padding: 10px; */
}

.info-item i {
    font-size: 24px;
    margin-right: 10px;
}

.info-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

/* FORM */
.update-profile-form {
    margin-top: 30px;
    width: 90%;
    padding: 25px;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(214, 214, 214);
}

.update-profile-form h3{
    font-family: rakkas;
    font-size: 25px;
}

.update-profile-form .btn-outline-primary{
    position: relative;
    left: 39%;
}

.user-name{
    display: flex;
    justify-content: space-between;
}

.user-name label{
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
    padding-left: 15px;
}

.l-name{
    padding-right: 15px;
}

.user-name input[type="text"]{
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group {
    margin-top: 10px;
    padding: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.valid-nbr{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.nb-validate input{
    margin-left: 9px;
}

.valid-nbr label{
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
    padding-left: 15px;
}


.otp-validate input{
    position: relative;
    left: 3.5rem;
}

.otp-validate label{
    position: relative;
    left: 39px;
    padding-right: 10px;
}

.valid-nbr input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.otp-btn{
    margin-left: 7rem;
    transition: background-color 0.3s;
}

.update-btn {
    cursor: pointer;
    margin-left: 10rem;
    transition: background-color 0.3s;
}

/* CITY_ZIP */
.city-zip{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.city-zip label{
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
}


.city-name input{
    position: relative;
    left: 15px;
}

.city-name label{
    position: relative;
    left: 15px;
}
.zip-code input{
    position: relative;
    right: 20px;
    margin-left: 17px;
}

.city-zip input[type="text"]{
    /* margin-right: -30px;  */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}